<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>EmployeeName</th>
            <th>Email</th>
            <th>Rating</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async">
            <td>{{employee.employeeName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.rating}}</td>
            <td>{{employee.department}}</td>
            <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>