<h3>Update Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Employee Name</label>
      <input type="text" class="form-control" id="employeeName" required [(ngModel)]="employee.employeeName" name="employeeName">
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.emailId" name="emailId">
    </div>

    <div class="form-group">
        <label for="name">Rating</label>
        <input type="text" class="form-control" id="rating" required [(ngModel)]="employee.rating" name="rating">
    </div>
  
    <div class="form-group">
        <label for="name">Department</label>
        <input type="text" class="form-control" id="department" required [(ngModel)]="employee.department" name="department">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>